/* page de style pour le serveur de perles */

table.perleTable {
    border: 1px dashed navy;
}

th, td {
    border: 1px solid rgb(220,220,220);
}

th.perleid,td.perleid {
    background: lightyellow;
}

th.p1, td.p1 {
    background: lightcyan;

}

th.p2, td.p2 {
    background: lightyellow;

}

th.lang, td.lang {
    background: lightcyan;

}

th.date, td.date {
    background: lightyellow;

}

